.admin-dashboard-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  overflow: hidden;
}

.admin-sidebar {
  width: 15%;
  height: 100%;
}
.admin-main-wrapper {
  width: 85%;
  height: 100%;
  overflow-y: scroll;
}
/* d */

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: #393E46;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

/* #bug-reports-card {
  background-color: #364f6b;
}
#user-reports-card {
  background-color: #495567;
}

#mentor-card {
  background-color: #39567b;
}

#student-card {
  background-color: #4d6379;
} */

#bug-reports-card {
  background-color: #DBE2EF;
}
#user-reports-card {
  background-color: #DBE2EF;
}

#mentor-card {
  background-color: #DBE2EF;
}

#student-card {
  background-color: #DBE2EF;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}
