.admin-users-nav-wrapper {
    display: flex;
    flex-direction: column;
}

.users-nav-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.users-nav-navbar>h2 {
    cursor: pointer;
}

.admin-users-main-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.admin-users-search-wrapper {
    width: 70vw;
    height: 3.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(227, 213, 255), rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.admin-users-search-wrapper>input {
    width: calc(70vw - 25px);
    height: calc(3.5rem - 10px);
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
}

.admin-users-sort-wrapper{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background: #d5d4d4;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    padding: 0.5rem;
    padding-left: 2rem;
    
}

.admin-users-sort-wrapper>h2{
    margin: 0;
}

.admin-users-sort-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    padding-left: 2rem;
}

.admin-users-sort-list>h2{
    margin: 0;
}

.admin-users-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
    gap: 3rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}

.active-role{
    color:blueviolet;
}