/* UserCard.css */
.user-card {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-left: 10px;
    margin-right:100px;
    margin-bottom: 10px;
    width:75%;
  }
  .user-delete{
    height: 1.5rem;
  }
  
  .user-icon {
    font-size: 24px;
    padding:10px;
    margin-right: 10px;
  }
  
  .user-info {
    flex-grow: 1;
  }
  
  .user-name {
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .mentor .user-card{
    background-color: #BED7DC;
  }

  .student .user-card{
    background-color: #DBE2EF;
  }