/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&family=Poppins:wght@300&display=swap');

body {
    font-family:"Poppins";
    background-color: #eee;
}

*{
    box-sizing: border-box;

}

form{
    display: block;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    max-width: 600px;
    max-height: 600px;
    padding: 25px 40px;

}

form input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-family: "Poppins";
    background-color: #f1f1f1;
    border: #ddd;
    cursor: pointer;


}

form span{
    color: rgb(29,185,237);


}


form button{

    height: 30px;
    width: 80px;
    align-items: center;
    border: none;
    background-color: rgb(29,185,237);
    color: #fff;
    margin-left: 200px;


} */
