.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #8BE5E7;
    border-bottom: solid 1px #ebebeb;
    box-shadow: 0 2px #ebebeb;
}

.navbar>h1{
    margin-left: 2rem;
}

.navbar-buttons{
    display: flex;
}

.navbar-button{
    padding: 8px 12px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #8BE5E7;
    color: #060606;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
}

.black-button{
    background-color: #242424;
    color:#ffffff;
    border: 1px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-button:hover{
    color:#000;
    background-color: #E4FFFE;

}

.black-button:hover{
    color: #000000;
    background-color: #ffffff;
}